#hero {
    padding: 60px 20px;
    text-align: center;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #111;
    color: #111;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}
#about {
  padding: 40px 20px;
}

#about h2, #about h3 {
  margin-bottom: 10px;
}

#about ul {
  list-style-type: square;
  padding-left: 20px;
  margin-bottom: 20px;
}
