#hero {
    padding: 60px 20px;
    text-align: center;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #111;
    color: #111;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}